body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  margin-top: 58px;
}

.nav .container {
  display: flex;
  align-items: center;
}

.nav .brand,
.nav .menu,
.nav .ctas {
  width: calc(100% / 3);
}

.nav .brand {
  width: 20%;
  font-size: 22px;
  font-weight: 600;
}
.nav .menu {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.nav .menu-item {
  color: #000;
  text-decoration: none;
  opacity: 0.8;
}
.nav .menu-item:hover {
  opacity: 1;
  border-bottom: 1px solid #000;
}
.nav .menu-item-active {
  opacity: 1;
  font-weight: 600;
}
.nav .ctas {
  width: 20%;
  text-align: right;
}

/* //10 itu atas bawah, 25 kiri kanan// */
.nav .register {
  padding: 10px 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

.hero {
  text-align: center;
  padding: 135px 0;
}
.hero .headline {
  font-weight: 36px;
}

.hero .headline .sub {
  font-weight: 18px;
  line-height: 32px;
}

.primary {
  display: inline-block;
  background-color: #001aff;
  color: white;
  border-radius: 100px;
  padding: 12px 17px;
  text-decoration: none;
  box-shadow: 0px 15px 30px rgba(0, 26, 255, 0.2);
}

.secondary {
  background-color: aliceblue;
  color: rgb(6, 6, 6);
  border-radius: 100px;
  padding: 12px 17px;
  text-decoration: none;
}

.button-ctas {
  margin-top: 35px;
}
.top-product {
  display: grid;
  margin-top: 10%;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-right: 150px;
  padding-left: 120px;
}
.top-menu {
  font-weight: 600;
  font-size: inherit;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
  column-gap: 20px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  outline: 0;
  padding: 12px;
  border: 2px solid blue;
  background-color: #fff;
  color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border-radius: 10px;
}

.card button:hover {
  opacity: 0.7;
  background-color: blue;
  color: #fff;
}

.img {
  border-radius: 10px;
}
footer {
  margin-top: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #cab9b9;
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.social {
  display: flex;
  justify-content: center;
}
.social a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50px;
}
.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  margin: 20px;
}
.footerBottom {
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%; /* Mengubah lebar kontainer agar lebih sesuai dengan perangkat seluler */
    margin: 0 auto; /* Mengatur margin menjadi auto agar kontainer berada di tengah */
  }

  .nav .menu {
    flex-direction: column;
    gap: 10px; /* Mengurangi jarak antar menu */
  }

  .nav .menu-item {
    text-align: center;
  }
  .top-product {
    grid-template-columns: auto; /* Mengubah jumlah kolom menjadi satu pada layar kecil */
    justify-content: center; /* Pusatkan kartu pada layar kecil */
    gap: 10px; /* Mengurangi jarak antara kartu */
    padding-left: 0; /* Menghapus padding kiri */
    margin-right: 0; /* Menghapus margin kanan */
  }

  .card {
    max-width: 100%; /* Kartu mengisi lebar penuh */
  }

  .nav .brand,
  .nav .menu,
  .nav .ctas {
    width: 100%; /* Mengubah lebar setiap bagian navigasi menjadi 100% */
  }

  .hero .headline {
    font-size: 28px; /* Mengurangi ukuran font headline di hero section */
  }

  .hero .headline .sub {
    font-size: 16px; /* Mengurangi ukuran font subheadline di hero section */
  }

  .button-ctas {
    flex-direction: column;
    gap: 20px;
  }

  .footerContainer {
    padding: 50px 30px 20px; /* Mengurangi padding pada bagian footer */
  }

  .social a {
    margin: 5px; /* Mengurangi margin pada ikon media sosial di footer */
  }

  .footerNav ul {
    text-align: center;
    flex-direction: column; /* Menata ul untuk menu footer menjadi vertikal */
  }

  .footerNav ul li {
    width: 100%;/* Menengahkan item pada menu footer */
    margin: 10px 0; /* Mengurangi margin pada item menu footer */
  }
}
