/* Global Styles */
:root {
  --primary-color: #001aff;
  --secondary-color: #cab9b9;
  --text-color: #000;
  --background-color: #f9f9f9;
  --border-radius: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* color: #fff; */
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.nav {
  padding: 50px 0; /* TODO : INI GW GANTI DARI MARGIN KE PADDING*/
}

.nav .container {
  display: flex;
  align-items: center;
  /* position: fixed; */
}

.nav .brand,
.nav .menu,
.nav .ctas {
  width: calc(100% / 3);
}

.nav .brand {
  width: 20%;
  font-size: 22px;
  font-weight: 600;
}

.nav .menu {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav .menu-item {
  color: var(--text-color);
  text-decoration: none;
  opacity: 0.8;
}

.nav .menu-item:hover {
  opacity: 1;
  border-bottom: 1px solid var(--primary-color);
}

.nav .menu-item-active {
  opacity: 1;
  font-weight: 600;
}

.nav .ctas {
  width: 20%;
  text-align: right;
}

.nav .register:hover {
  background-color: var(--primary-color);
  color: #fff;
  transition: all 1s ease;
  font-size: 20px;
}

.menu-toggle {
  display: none;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav .register {
  padding: 10px 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-color);
}

.nav .menu-items .register {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px; /* TODO : INI GW navbar yang muncul 40 (hasil padding + hasil brand ke bawah)*/
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle.active + .menu-items {
    display: flex;
  }

  .nav .menu-items .register {
    display: block;
  }
  .nav .ctas {
    display: none;
  }

  .nav .menu {
    width: 60%;
    align-items: end;
    margin-bottom: 20px;
  }
}

.hero {
  text-align: center;
  padding: 135px 0;
}

.hero .headline {
  font-weight: 36px;
}

.hero .headline .sub {
  font-weight: 18px;
  line-height: 32px;
}

.primary {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 100px;
  padding: 12px 17px;
  text-decoration: none;
  box-shadow: 0px 15px 30px rgba(0, 26, 255, 0.2);
}

.secondary {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 100px;
  padding: 12px 17px;
  text-decoration: none;
}
.secondary:hover{
  background-color: var(--primary-color);
  color: #f5f5f5;
}

.button-ctas {
  margin-top: 35px;
}

.top {
  display: flex;
}

.top-menu {
  display: inline-block;
  font-weight: 600;
  font-size: inherit;
  opacity: 0.8;
}

.top-menu:hover {
  opacity: 1;
  border-bottom: 2px solid var(--primary-color);
  transition: all 0.5s ease;
  border-radius: var(--border-radius);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
}

.price {
  font-size: 20px;
}

del {
  color: grey;
  font-size: 15px;
}

.card button {
  outline: 0;
  padding: 12px;
  border: 2px solid blue;
  background-color: #fff;
  color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border-radius: 10px;
}

.card button:hover {
  opacity: 0.7;
  background-color: blue;
  color: #fff;
  transition: all 0.5s ease;
}

.img {
  border-radius: 10px;
}

.about-cateringz {
  width: 100%;
  height: 100vh;
  /* background-color: #000; */
  padding: 0 11%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.image-cateringz img {
  width: 450px;
  padding: 0 20px;
}

.text-about h1 {
  font-size: 36px;
  position: relative;
}

/* .text-about h1::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 4px;
  background-color: #001aff;
  left: 0;
  bottom: 2px;
} */

.text-about p {
  font-weight: 18px;
  line-height: 32px;
  margin: 30px 0 45px 0;
  min-height: 480;
}

.btn {
  padding: 7px 25px;
  border: 2px solid blue;
  border-radius: 5px;
  color: #000;
  /* color: #fff; */
  text-decoration: none;
  margin-right: 15px;
  transition: all 0.5s ease;
}

.btn-text:hover {
  background-color: #001aff;
  color: white;
}

/* footer */
footer {
  bottom: 0;
}
.footer {
  background-color: #000;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
  color: #fff;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer .footer-left {
  width: 30%;
}
.footer h3 {
  color: #f5f5f5;
  margin: 0;
  padding-bottom: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer .footer-left img {
  width: 25%;
  vertical-align: middle;
}
.footer .footer-left .logo {
  width: 100%;
}
.footer .footer-copyright {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
}

.footer .footer-center {
  width: 35%;
}
.footer .footer-center i {
  background-color: #565050;
  color: #f5f5f5;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer .footer-center p {
  display: inline-block;
  color: #f5f5f5;
  vertical-align: middle;
  margin: 0px;
}
.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer .footer-center p a {
  color: rgb(22, 255, 177);
  text-decoration: none;
}
.footer .footer-right {
  width: 30%;
}
.footer .footer-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}
.footer .footer-about span {
  display: block;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer .footer-media {
  display: flex;
  margin-top: 10px;
}
.footer .footer-media a {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #8f9296;
  border-radius: 50%;
  font-size: 20px;
  color: #f5f5f5;
  text-align: center;
  line-height: 50px;
  margin-right: 3px;
  margin-bottom: 5px;
  margin: 5px;
}
.footer .footer-media a:hover{
  background-color: #f5f5f5;
  color: rgb(22, 255, 177);
}

@media screen and (max-width: 1140px) {
  .container {
    width: 90%;
    max-width: none;
  }
}

@media screen and (max-width: 800px) {
  .nav .brand,
  .nav .menu,
  .nav .ctas {
    width: 100%;
  }
  .nav .brand {
    text-align: center;
    margin-bottom: 20px;
  }
  .nav .menu {
    flex-direction: column;
    gap: 20px;
  }
  .nav .menu-item {
    text-align: center;
  }
  .hero .headline {
    font-size: 28px;
  }
  .hero .headline .sub {
    font-size: 16px;
  }
  .button-ctas {
    flex-direction: column;
    gap: 20px;
  }
  .about-cateringz {
    flex-direction: column;
    padding: 0 5%;
  }
  .image-cateringz img {
    width: 100%;
    padding: 0;
  }
  .text-about h1 {
    font-size: 28px;
  }
  .hero {
    padding: 0px;
  }
  footer {
    position: static;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .top {
    flex-direction: column;
    gap: 20px;
  }
  .card {
    max-width: 100%;
  }
}
